.css_margin_all_size1 {
  margin: var(--size-spacing-size1);
}
.css_margin_all_size2 {
  margin: var(--size-spacing-size2);
}
.css_margin_all_size3 {
  margin: var(--size-spacing-size3);
}
.css_margin_all_size4 {
  margin: var(--size-spacing-size4);
}
.css_margin_all_size5 {
  margin: var(--size-spacing-size5);
}
.css_margin_all_size6 {
  margin: var(--size-spacing-size6);
}
.css_margin_all_size7 {
  margin: var(--size-spacing-size7);
}
.css_margin_all_size8 {
  margin: var(--size-spacing-size8);
}
.css_margin_all_size9 {
  margin: var(--size-spacing-size9);
}
.css_margin_all_size10 {
  margin: var(--size-spacing-size10);
}
.css_margin_all_size11 {
  margin: var(--size-spacing-size11);
}
.css_margin_all_size12 {
  margin: var(--size-spacing-size12);
}

.css_margin_right_size1 {
  margin: var(--size-spacing-size1);
}
.css_margin_right_size2 {
  margin: var(--size-spacing-size2);
}
.css_margin_right_size3 {
  margin: var(--size-spacing-size3);
}
.css_margin_right_size4 {
  margin: var(--size-spacing-size4);
}
.css_margin_right_size5 {
  margin: var(--size-spacing-size5);
}
.css_margin_right_size6 {
  margin: var(--size-spacing-size6);
}
.css_margin_right_size7 {
  margin: var(--size-spacing-size7);
}
.css_margin_right_size8 {
  margin: var(--size-spacing-size8);
}
.css_margin_right_size9 {
  margin: var(--size-spacing-size9);
}
.css_margin_right_size10 {
  margin: var(--size-spacing-size10);
}
.css_margin_right_size11 {
  margin: var(--size-spacing-size11);
}
.css_margin_right_size12 {
  margin: var(--size-spacing-size12);
}

.css_margin_left_size1 {
  margin: var(--size-spacing-size1);
}
.css_margin_left_size2 {
  margin: var(--size-spacing-size2);
}
.css_margin_left_size3 {
  margin: var(--size-spacing-size3);
}
.css_margin_left_size4 {
  margin: var(--size-spacing-size4);
}
.css_margin_left_size5 {
  margin: var(--size-spacing-size5);
}
.css_margin_left_size6 {
  margin: var(--size-spacing-size6);
}
.css_margin_left_size7 {
  margin: var(--size-spacing-size7);
}
.css_margin_left_size8 {
  margin: var(--size-spacing-size8);
}
.css_margin_left_size9 {
  margin: var(--size-spacing-size9);
}
.css_margin_left_size10 {
  margin: var(--size-spacing-size10);
}
.css_margin_left_size11 {
  margin: var(--size-spacing-size11);
}
.css_margin_left_size12 {
  margin: var(--size-spacing-size12);
}

.css_margin_top_size1 {
  margin: var(--size-spacing-size1);
}
.css_margin_top_size2 {
  margin: var(--size-spacing-size2);
}
.css_margin_top_size3 {
  margin: var(--size-spacing-size3);
}
.css_margin_top_size4 {
  margin: var(--size-spacing-size4);
}
.css_margin_top_size5 {
  margin: var(--size-spacing-size5);
}
.css_margin_top_size6 {
  margin: var(--size-spacing-size6);
}
.css_margin_top_size7 {
  margin: var(--size-spacing-size7);
}
.css_margin_top_size8 {
  margin: var(--size-spacing-size8);
}
.css_margin_top_size9 {
  margin: var(--size-spacing-size9);
}
.css_margin_top_size10 {
  margin: var(--size-spacing-size10);
}
.css_margin_top_size11 {
  margin: var(--size-spacing-size11);
}
.css_margin_top_size12 {
  margin: var(--size-spacing-size12);
}

.css_margin_bottom_size1 {
  margin: var(--size-spacing-size1);
}
.css_margin_bottom_size2 {
  margin: var(--size-spacing-size2);
}
.css_margin_bottom_size3 {
  margin: var(--size-spacing-size3);
}
.css_margin_bottom_size4 {
  margin: var(--size-spacing-size4);
}
.css_margin_bottom_size5 {
  margin: var(--size-spacing-size5);
}
.css_margin_bottom_size6 {
  margin: var(--size-spacing-size6);
}
.css_margin_bottom_size7 {
  margin: var(--size-spacing-size7);
}
.css_margin_bottom_size8 {
  margin: var(--size-spacing-size8);
}
.css_margin_bottom_size9 {
  margin: var(--size-spacing-size9);
}
.css_margin_bottom_size10 {
  margin: var(--size-spacing-size10);
}
.css_margin_bottom_size11 {
  margin: var(--size-spacing-size11);
}
.css_margin_bottom_size12 {
  margin: var(--size-spacing-size12);
}

.css_margin_horizontal_size1 {
  margin: var(--size-spacing-size1);
}
.css_margin_horizontal_size2 {
  margin: var(--size-spacing-size2);
}
.css_margin_horizontal_size3 {
  margin: var(--size-spacing-size3);
}
.css_margin_horizontal_size4 {
  margin: var(--size-spacing-size4);
}
.css_margin_horizontal_size5 {
  margin: var(--size-spacing-size5);
}
.css_margin_horizontal_size6 {
  margin: var(--size-spacing-size6);
}
.css_margin_horizontal_size7 {
  margin: var(--size-spacing-size7);
}
.css_margin_horizontal_size8 {
  margin: var(--size-spacing-size8);
}
.css_margin_horizontal_size9 {
  margin: var(--size-spacing-size9);
}
.css_margin_horizontal_size10 {
  margin: var(--size-spacing-size10);
}
.css_margin_horizontal_size11 {
  margin: var(--size-spacing-size11);
}
.css_margin_horizontal_size12 {
  margin: var(--size-spacing-size12);
}

.css_margin_vertical_size1 {
  margin: var(--size-spacing-size1);
}
.css_margin_vertical_size2 {
  margin: var(--size-spacing-size2);
}
.css_margin_vertical_size3 {
  margin: var(--size-spacing-size3);
}
.css_margin_vertical_size4 {
  margin: var(--size-spacing-size4);
}
.css_margin_vertical_size5 {
  margin: var(--size-spacing-size5);
}
.css_margin_vertical_size6 {
  margin: var(--size-spacing-size6);
}
.css_margin_vertical_size7 {
  margin: var(--size-spacing-size7);
}
.css_margin_vertical_size8 {
  margin: var(--size-spacing-size8);
}
.css_margin_vertical_size9 {
  margin: var(--size-spacing-size9);
}
.css_margin_vertical_size10 {
  margin: var(--size-spacing-size10);
}
.css_margin_vertical_size11 {
  margin: var(--size-spacing-size11);
}
.css_margin_vertical_size12 {
  margin: var(--size-spacing-size12);
}
