// # ========= --- EM Container --- ========== # \\
// DESCRIPTION -> This is meant to override the font-size changes that happen on body and html so that items in this container don't size with everything else.
// This should be used very sparingly and should be a last resort and will usually be the result of the design.
.ut-em-container-size1 {
  font-size: 4px;
}

.ut-em-container-size2 {
  font-size: 6px;
}

.ut-em-container-size3 {
  font-size: 8px;
}

.ut-em-container-size4 {
  font-size: 10px;
}

.ut-em-container-size5 {
  font-size: 12px;
}

.ut-em-container-size6 {
  font-size: 14px;
}

.ut-em-container-size7 {
  font-size: 18px;
}

.ut-em-container-size8 {
  font-size: 20px;
}

.ut-em-container-size9 {
  font-size: 24px;
}

.ut-em-container-size10 {
  font-size: 28px;
}

.ut-em-container-size11 {
  font-size: 32px;
}

.ut-em-container-size12 {
  font-size: 36px;
}