// # ========= --- Overflow --- ========== # \\

.ut-overflow-all-hidden { overflow: hidden; }
.ut-overflow-all-visible { overflow: visible; }
.ut-overflow-all-scroll { overflow: scroll; }
.ut-overflow-all-auto { overflow: auto; }

.ut-overflow-x-hidden { overflow-x: hidden; }
.ut-overflow-x-visible { overflow-x: visible; }
.ut-overflow-x-scroll { overflow-x: scroll; }
.ut-overflow-x-auto { overflow-x: auto; }

.ut-overflow-y-hidden { overflow-y: hidden; }
.ut-overflow-y-visible { overflow-y: visible; }
.ut-overflow-y-scroll { overflow-y: scroll; }
.ut-overflow-y-auto { overflow-y: auto; }