// # ========= --- Max Characters --- ========== # \\

[class*="ut-character"] {
  margin-right: auto;
  margin-left: auto;
}

.ut-character-width-15 {
  max-width: 15ch;
}

.ut-character-width-20 {
  max-width: 20ch;
}

.ut-character-width-40 {
  max-width: 40ch;
}

.ut-character-width-60 {
  max-width: 60ch;
}

.ut-character-width-80 {
  max-width: 80ch;
}

.ut-character-width-100 {
  max-width: 100ch;
}