

.button_base {
  display: "block";
  min-width: var(--size-button-size3);
  padding: var(--size-spacing-size2);
  cursor: "pointer";
  background: var(--color-global);
}

.button_base:hover {
  background: var(--color-global-light1);
  transition: "200ms";
}


  .button_global {
    background: var(--color-global);
  }
  .button_global:hover {
    background: var(--color-global-light1);
  }
  .button_primary {
    background: var(--color-primary);
  }
  .button_primary:hover {
    background: var(--color-primary-light1);
  }
  .button_secondary {
    background: var(--color-secondary);
  }
  .button_secondary:hover {
    background: var(--color-secondary-light1);
  }
  .button_neutral {
    background: var(--color-neutral);
  }
  .button_neutral:hover {
    background: var(--color-neutral-light1);
  }
  .button_warning {
    background: var(--color-warning);
  }
  .button_warning:hover {
    background: var(--color-warning-light1);
  }
  .button_info {
    background: var(--color-info);
  }
  .button_info:hover {
    background: var(--color-info-light1);
  }
  .button_disabled {
    background: var(--color-disabled);
  }
  .button_disabled:hover {
    background: var(--color-disabled-light1);
  }
  .button_inactive {
    background: var(--color-inactive);
  }
  .button_inactive:hover {
    background: var(--color-inactive-light1);
  }


  .button_large {
    min-width: var(--size-button-size5);
  }
  .button_medium {
    min-width: var(--size-button-size4);
  }
  .button_small {
    min-width: var(--size-button-size2);
  }

