


.link_base {
  color: var(--color-global);
  text-decoration: "underline";
}

.link_base:hover {
  color: var(--color-global-light1);
  transition: "200ms";
}

  .link_global {
    color: var(--color-global);
  }
  .link_global:hover {
    color: var(--color-global-light1);
  }
  .link_primary {
    color: var(--color-primary);
  }
  .link_primary:hover {
    color: var(--color-primary-light1);
  }
  .link_secondary {
    color: var(--color-secondary);
  }
  .link_secondary:hover {
    color: var(--color-secondary-light1);
  }
  .link_neutral {
    color: var(--color-neutral);
  }
  .link_neutral:hover {
    color: var(--color-neutral-light1);
  }
  .link_warning {
    color: var(--color-warning);
  }
  .link_warning:hover {
    color: var(--color-warning-light1);
  }
  .link_info {
    color: var(--color-info);
  }
  .link_info:hover {
    color: var(--color-info-light1);
  }
  .link_disabled {
    color: var(--color-disabled);
  }
  .link_disabled:hover {
    color: var(--color-disabled-light1);
  }
  .link_inactive {
    color: var(--color-inactive);
  }
  .link_inactive:hover {
    color: var(--color-inactive-light1);
  }

