:root {
  --color-global: #262626;
  --color-global-light1: #404040;
  --color-global-dark1: #0d0d0d;
  --color-primary: #5794b2;
  --color-primary-light1: #73a6bf;
  --color-primary-dark1: #477e9a;
  --color-secondary: #6420BD;
  --color-secondary-light1: #A972F2;
  --color-secondary-dark1: #4F3570;
  --color-tertiary: #23a472;
  --color-tertiary-light1: #81e1bc;
  --color-tertiary-dark1: #317b5f;
  --color-success: #85af41;
  --color-success-light1: #9fc563;
  --color-success-dark1: #668632;
  --color-disabled: #dedede;
  --color-disabled-light1: #f2f2f2;
  --color-disabled-dark1: #c2c2c2;
  --color-warning: #da5a49;
  --color-warning-light1: #e79388;
  --color-warning-dark1: #c33a28;
  --color-failure: #da5a49;
  --color-failure-light1: #e79388;
  --color-failure-dark1: #c33a28;
  --color-info: #ffcb6b;
  --color-info-light1: #ffdb99;
  --color-info-dark1: #ffbb3d;
  --color-white: white;
  --color-black: black;
  --color-neutral: #999999;
  --color-neutral-light1: #e6e6e6;
  --color-neutral-light2: #ededed;
  --color-neutral-light3: #f2f2f2;
  --color-neutral-dark1: #545454;
  --color-neutral-dark2: #404040;
  --color-neutral-dark3: #400000;
  --color-transparent: rgba(9, 6, 6, 0);

  --size-general-unit: "em";
  --size-general-size1: 0.25em;
  --size-general-size2: 0.48em;
  --size-general-size3: 0.71em;
  --size-general-size4: 0.94em;
  --size-general-size5: 1.17em;
  --size-general-size6: 1.4em;
  --size-general-size7: 1.63em;
  --size-general-size8: 1.86em;
  --size-general-size9: 2.09em;
  --size-general-size10: 2.32em;
  --size-general-size11: 2.55em;
  --size-general-size12: 2.78em;

  --size-position-unit: "em";
  --size-position-size1: 0.5em;
  --size-position-size2: 0.96em;
  --size-position-size3: 1.42em;
  --size-position-size4: 1.88em;
  --size-position-size5: 2.34em;
  --size-position-size6: 2.8em;
  --size-position-size7: 3.26em;
  --size-position-size8: 3.72em;
  --size-position-size9: 4.18em;
  --size-position-size10: 4.64em;
  --size-position-size11: 5.1em;
  --size-position-size12: 5.56em;

  --size-spacing-size-unit: "em";
  --size-spacing-size1: 0.2em;
  --size-spacing-size2: 0.43em;
  --size-spacing-size3: 0.66em;
  --size-spacing-size4: 0.89em;
  --size-spacing-size5: 1.12em;
  --size-spacing-size6: 1.35em;
  --size-spacing-size7: 1.58em;
  --size-spacing-size8: 1.81em;
  --size-spacing-size9: 2.04em;
  --size-spacing-size10: 2.27em;
  --size-spacing-size11: 2.5em;
  --size-spacing-size12: 2.73em;

  --size-border-unit: "px";
  --size-border-size1: 1px;
  --size-border-size2: 2px;
  --size-border-size3: 3px;
  --size-border-size4: 4px;
  --size-border-size5: 5px;
  --size-border-size6: 6px;
  --size-border-size7: 7px;
  --size-border-size8: 8px;
  --size-border-size9: 9px;
  --size-border-size10: 10px;
  --size-border-size11: 11px;
  --size-border-size12: 12px;

  --size-button-unit: "em";
  --size-button-size1: 2.5em;
  --size-button-size2: 4.79em;
  --size-button-size3: 7.08em;
  --size-button-size4: 9.37em;
  --size-button-size5: 11.66em;
  --size-button-size6: 13.95em;
  --size-button-size7: 16.24em;
  --size-button-size8: 18.53em;
  --size-button-size9: 20.82em;
  --size-button-size10: 23.11em;
  --size-button-size11: 25.4em;
  --size-button-size12: 27.69em;

  --size-font-unit: "em";
  --size-font-size1: 0.6em;
  --size-font-size2: 0.8em;
  --size-font-size3: 1em;
  --size-font-size4: 1.2em;
  --size-font-size5: 1.4em;
  --size-font-size6: 1.6em;
  --size-font-size7: 1.8em;
  --size-font-size8: 2em;
  --size-font-size9: 2.2em;
  --size-font-size10: 2.4em;
  --size-font-size11: 2.6em;
  --size-font-size12: 2.8em;

  --size-shadow-unit: "em";
  --size-shadow-size1: 0.08em;
  --size-shadow-size2: 0.15em;
  --size-shadow-size3: 0.22em;
  --size-shadow-size4: 0.29em;
  --size-shadow-size5: 0.36em;
  --size-shadow-size6: 0.43em;
  --size-shadow-size7: 0.5em;
  --size-shadow-size8: 0.57em;
  --size-shadow-size9: 0.64em;
  --size-shadow-size10: 0.71em;
  --size-shadow-size11: 0.78em;
  --size-shadow-size12: 0.85em;

  --size-icon-unit: "em";
  --size-icon-size1: 0.25em;
  --size-icon-size2: 0.48em;
  --size-icon-size3: 0.71em;
  --size-icon-size4: 0.94em;
  --size-icon-size5: 1.17em;
  --size-icon-size6: 1.4em;
  --size-icon-size7: 1.63em;
  --size-icon-size8: 1.86em;
  --size-icon-size9: 2.09em;
  --size-icon-size10: 2.32em;
  --size-icon-size11: 2.55em;
  --size-icon-size12: 2.78em;

  --size-logo-unit: "em";
  --size-logo-size1: 0.19em;
  --size-logo-size2: 0.36em;
  --size-logo-size3: 0.53em;
  --size-logo-size4: 0.7em;
  --size-logo-size5: 0.87em;
  --size-logo-size6: 1.04em;
  --size-logo-size7: 1.21em;
  --size-logo-size8: 1.38em;
  --size-logo-size9: 1.55em;
  --size-logo-size10: 1.72em;
  --size-logo-size11: 1.89em;
  --size-logo-size12: 2.06em;

  --size-drawer-unit: "em";
  --size-drawer-size1: 1.75em;
  --size-drawer-size2: 3.35em;
  --size-drawer-size3: 4.95em;
  --size-drawer-size4: 6.55em;
  --size-drawer-size5: 8.15em;
  --size-drawer-size6: 9.75em;
  --size-drawer-size7: 11.35em;
  --size-drawer-size8: 12.95em;
  --size-drawer-size9: 14.55em;
  --size-drawer-size10: 16.15em;
  --size-drawer-size11: 17.75em;
  --size-drawer-size12: 19.35em;

  --size-tracking-unit: "em";
  --size-tracking-size1: 0.25em;
  --size-tracking-size2: 0.48em;
  --size-tracking-size3: 0.71em;
  --size-tracking-size4: 0.94em;
  --size-tracking-size5: 1.17em;
  --size-tracking-size6: 1.4em;
  --size-tracking-size7: 1.63em;
  --size-tracking-size8: 1.86em;
  --size-tracking-size9: 2.09em;
  --size-tracking-size10: 2.32em;
  --size-tracking-size11: 2.55em;
  --size-tracking-size12: 2.78em;

  --size-counter-unit: "em";
  --size-counter-size1: 0.25em;
  --size-counter-size2: 0.48em;
  --size-counter-size3: 0.71em;
  --size-counter-size4: 0.94em;
  --size-counter-size5: 1.17em;
  --size-counter-size6: 1.4em;
  --size-counter-size7: 1.63em;
  --size-counter-size8: 1.86em;
  --size-counter-size9: 2.09em;
  --size-counter-size10: 2.32em;
  --size-counter-size11: 2.55em;
  --size-counter-size12: 2.78em;

  --size-modal-unit: "em";
  --size-modal-size1: 10em;
  --size-modal-size2: 15.42em;
  --size-modal-size3: 20.84em;
  --size-modal-size4: 26.26em;
  --size-modal-size5: 31.68em;
  --size-modal-size6: 37.1em;
  --size-modal-size7: 42.52em;
  --size-modal-size8: 47.94em;
  --size-modal-size9: 53.36em;
  --size-modal-size10: 58.78em;
  --size-modal-size11: 64.2em;
  --size-modal-size12: 69.62em;

  --size-gutter-unit: "em";
  --size-gutter-size1: 0.25em;
  --size-gutter-size2: 0.48em;
  --size-gutter-size3: 0.71em;
  --size-gutter-size4: 0.94em;
  --size-gutter-size5: 1.17em;
  --size-gutter-size6: 1.4em;
  --size-gutter-size7: 1.63em;
  --size-gutter-size8: 1.86em;
  --size-gutter-size9: 2.09em;
  --size-gutter-size10: 2.32em;
  --size-gutter-size11: 2.55em;
  --size-gutter-size12: 2.78em;

  --size-field-unit: "em";
  --size-field-size1: 3em;
  --size-field-size2: 5.75em;
  --size-field-size3: 8.5em;
  --size-field-size4: 11.25em;
  --size-field-size5: 14em;
  --size-field-size6: 16.75em;
  --size-field-size7: 19.5em;
  --size-field-size8: 22.25em;
  --size-field-size9: 25em;
  --size-field-size10: 27.75em;
  --size-field-size11: 30.5em;
  --size-field-size12: 33.25em;

  --size-container-unit: "em";
  --size-container-size1: 10em;
  --size-container-size2: 17.5em;
  --size-container-size3: 25em;
  --size-container-size4: 32.5em;
  --size-container-size5: 40em;
  --size-container-size6: 47.5em;
  --size-container-size7: 55em;
  --size-container-size8: 62.5em;
  --size-container-size9: 70em;
  --size-container-size10: 77.5em;
  --size-container-size11: 85em;
  --size-container-size12: 92.5em;

  --size-column-width-unit: "em";
  --size-column-width-size1: 7.5em;
  --size-column-width-size2: 14.38em;
  --size-column-width-size3: 21.26em;
  --size-column-width-size4: 28.14em;
  --size-column-width-size5: 35.02em;
  --size-column-width-size6: 41.9em;
  --size-column-width-size7: 48.78em;
  --size-column-width-size8: 55.66em;
  --size-column-width-size9: 62.54em;
  --size-column-width-size10: 69.41em;
  --size-column-width-size11: 76.29em;
  --size-column-width-size12: 83.17em;

  --size-column-auto-unit: "none";
  --size-column-auto-size1: 1;
  --size-column-auto-size2: 2;
  --size-column-auto-size3: 3;
  --size-column-auto-size4: 4;
  --size-column-auto-size5: 5;
  --size-column-auto-size6: 6;
  --size-column-auto-size7: 7;
  --size-column-auto-size8: 8;
  --size-column-auto-size9: 9;
  --size-column-auto-size10: 10;
  --size-column-auto-size11: 11;
  --size-column-auto-size12: 12;

  --branding-global                : var(--color-global);
  --branding-global-contrast       : var(--color-white);
  --branding-global-hover          : var(--color-global-light);
  --branding-global-text           : var(--color-global);
  --branding-global-text-hover     : '';
  --branding-global-selected       : '';
  --branding-global-focus          : '';
  --branding-global-disabled       : '';
  --branding-primary               : 'primary';
  --branding-primary-contrast       : var(--color-white);
  --branding-primary-hover         : '';
  --branding-primary-text          : '';
  --branding-primary-selected      : '';
  --branding-primary-focus         : '';
  --branding-primary-disabled      : '';
  --branding-secondary             : 'secondary';
  --branding-secondary-contrast       : var(--color-white);
  --branding-secondary-hover       : '';
  --branding-secondary-text        : '';
  --branding-secondary-selected    : '';
  --branding-secondary-focus       : '';
  --branding-secondary-disabled    : '';
  --branding-tertiary              : 'tertiary';
  --branding-tertiary-contrast       : var(--color-white);
  --branding-secondary-hover       : '';
  --branding-secondary-text        : '';
  --branding-secondary-selected    : '';
  --branding-secondary-focus       : '';
  --branding-secondary-disabled    : '';
  --branding-neutral               : 'neutral';
  --branding-neutral-contrast       : var(--color-black);
  --branding-secondary-hover       : '';
  --branding-secondary-text        : '';
  --branding-secondary-selected    : '';
  --branding-secondary-focus       : '';
  --branding-secondary-disabled    : '';
  --branding-warning               : 'warning';
  --branding-warning-contrast       : var(--color-white);
  --branding-secondary-hover       : '';
  --branding-secondary-text        : '';
  --branding-secondary-selected    : '';
  --branding-secondary-focus       : '';
  --branding-secondary-disabled    : '';
  --branding-failure               : 'failure';
  --branding-failure-contrast       : var(--color-white);
  --branding-secondary-hover       : '';
  --branding-secondary-text        : '';
  --branding-secondary-selected    : '';
  --branding-secondary-focus       : '';
  --branding-secondary-disabled    : '';
  --branding-info                  : 'info';
  --branding-info-contrast       : var(--color-white);
  --branding-secondary-hover       : '';
  --branding-secondary-text        : '';
  --branding-secondary-selected    : '';
  --branding-secondary-focus       : '';
  --branding-secondary-disabled    : '';
  --branding-disabled              : 'disabled';
  --branding-disabled-contrast       : var(--color-white);
  --branding-secondary-hover       : '';
  --branding-secondary-text        : '';
  --branding-secondary-selected    : '';
  --branding-secondary-focus       : '';
  --branding-secondary-disabled    : '';
  --branding-inactive              : 'inactive';
  --branding-inactive-contrast       : var(--color-white);
  --branding-secondary-hover       : '';
  --branding-secondary-text        : '';
  --branding-secondary-selected    : '';
  --branding-secondary-focus       : '';
  --branding-secondary-disabled    : '';

  --breakpoint1     : '350px';
  --breakpoint2     : '560px';
  --breakpoint3     : '850px';
  --breakpoint4     : '1000px';
  --breakpoint5     : '1100px';
  --breakpoint6     : '1250px';
  --breakpoint7     : '1400px';
  --breakpoint8     : '1750px';
  --breakpoint9     : '2000px';
  --breakpoint10    : '2200px';
  --breakpoint-main : '1000px';

  /* from aesthetic suite */
  --shadow-blur-size1   : '0rem';
  --shadow-spread-size1 : '0.14rem';
  --shadow-x-size1      : '0.14rem';
  --shadow-y-size1      : '0.14rem';
  --shadow-blur-size2   : '0rem';
  --shadow-spread-size2 : '0.23rem';
  --shadow-x-size2      : '0.25rem';
  --shadow-y-size2      : '0rem';
  --shadow-blur-size3   : '0rem';
  --shadow-spread-size3 : '0.37rem';
  --shadow-x-size3      : '0.44rem';
  --shadow-y-size3      : '0rem';
  --shadow-blur-size4   : '0rem';
  --shadow-spread-size4 : '0.61rem';
  --shadow-x-size4      : '0.77rem';
  --shadow-y-size4      : '0rem';
  --shadow-blur-size5   : '0rem';
  --shadow-spread-size5 : '0.98rem';
  --shadow-x-size5      : '1.34rem';
  --shadow-y-size5      : '0rem';

  --depth-content    : 100;
  --depth-navigation : 1000;
  --depth-sheet      : 1100;
  --depth-overlay    : 1200;
  --depth-modal      : 1300;
  --depth-toast      : 1400;
  --depth-dialog     : 1500;
  --depth-menu       : 1600;
  --depth-tooltip    : 1700;

}