.App {
  text-align: center;
  background: #262626;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --color-global: #262626;
  --color-global-light1: #404040;
  --color-global-dark1: #0d0d0d;
  --color-primary: #5794b2;
  --color-primary-light1: #73a6bf;
  --color-primary-dark1: #477e9a;
  --color-secondary: #6420BD;
  --color-secondary-light1: #A972F2;
  --color-secondary-dark1: #4F3570;
  --color-success: #85af41;
  --color-success-light1: #9fc563;
  --color-success-dark1: #668632;
  --color-disabled: #dedede;
  --color-disabled-light1: #f2f2f2;
  --color-disabled-dark1: #c2c2c2;
  --color-warning: #da5a49;
  --color-warning-light1: #e79388;
  --color-warning-dark1: #c33a28;
  --color-info: #ffcb6b;
  --color-info-light1: #ffdb99;
  --color-info-dark1: #ffbb3d;
  --color-white: white;
  --color-black: black;
  --color-neutral: #999999;
  --color-neutral-light1: #e6e6e6;
  --color-neutral-light2: #ededed;
  --color-neutral-light3: #f2f2f2;
  --color-neutral-dark1: #545454;
  --color-neutral-dark2: #404040;
  --color-neutral-dark3: #400000;
  --color-transparent: rgba(9, 6, 6, 0);
  --color-shadow: rgba(77, 77, 77, 0.3);

  --size-general-unit: "em";
  --size-general-size1: 0.25;
  --size-general-size2: 0.48;
  --size-general-size3: 0.71;
  --size-general-size4: 0.94;
  --size-general-size5: 1.17;
  --size-general-size6: 1.4;
  --size-general-size7: 1.63;
  --size-general-size8: 1.86;
  --size-general-size9: 2.09;
  --size-general-size10: 2.32;
  --size-general-size11: 2.55;
  --size-general-size12: 2.78;

  --size-position-unit: "em";
  --size-position-size1: 0.5;
  --size-position-size2: 0.96;
  --size-position-size3: 1.42;
  --size-position-size4: 1.88;
  --size-position-size5: 2.34;
  --size-position-size6: 2.8;
  --size-position-size7: 3.26;
  --size-position-size8: 3.72;
  --size-position-size9: 4.18;
  --size-position-size10: 4.64;
  --size-position-size11: 5.1;
  --size-position-size12: 5.56;

  --size-spacing-size-unit: "em";
  --size-spacing-size1: 0.2;
  --size-spacing-size2: 0.43;
  --size-spacing-size3: 0.66;
  --size-spacing-size4: 0.89;
  --size-spacing-size5: 1.12;
  --size-spacing-size6: 1.35;
  --size-spacing-size7: 1.58;
  --size-spacing-size8: 1.81;
  --size-spacing-size9: 2.04;
  --size-spacing-size10: 2.27;
  --size-spacing-size11: 2.5;
  --size-spacing-size12: 2.73;

  --size-border-unit: "px";
  --size-border-size1: 1;
  --size-border-size2: 2;
  --size-border-size3: 3;
  --size-border-size4: 4;
  --size-border-size5: 5;
  --size-border-size6: 6;
  --size-border-size7: 7;
  --size-border-size8: 8;
  --size-border-size9: 9;
  --size-border-size10: 10;
  --size-border-size11: 11;
  --size-border-size12: 12;

  --size-button-unit: "em";
  --size-button-size1: 2.5;
  --size-button-size2: 4.79;
  --size-button-size3: 7.08;
  --size-button-size4: 9.37;
  --size-button-size5: 11.66;
  --size-button-size6: 13.95;
  --size-button-size7: 16.24;
  --size-button-size8: 18.53;
  --size-button-size9: 20.82;
  --size-button-size10: 23.11;
  --size-button-size11: 25.4;
  --size-button-size12: 27.69;

  --size-fonts-unit: "em";
  --size-fonts-size1: 0.6;
  --size-fonts-size2: 0.8;
  --size-fonts-size3: 1;
  --size-fonts-size4: 1.2;
  --size-fonts-size5: 1.4;
  --size-fonts-size6: 1.6;
  --size-fonts-size7: 1.8;
  --size-fonts-size8: 2;
  --size-fonts-size9: 2.2;
  --size-fonts-ize10: 2.4;
  --size-fonts-ize11: 2.6;
  --size-fonts-ize12: 2.8;

  --size-shadow-unit: "em";
  --size-shadow-size1: 0.08;
  --size-shadow-size2: 0.15;
  --size-shadow-size3: 0.22;
  --size-shadow-size4: 0.29;
  --size-shadow-size5: 0.36;
  --size-shadow-size6: 0.43;
  --size-shadow-size7: 0.5;
  --size-shadow-size8: 0.57;
  --size-shadow-size9: 0.64;
  --size-shadow-size10: 0.71;
  --size-shadow-size11: 0.78;
  --size-shadow-size12: 0.85;

  --size-icon-unit: "em";
  --size-icon-size1: 0.25;
  --size-icon-size2: 0.48;
  --size-icon-size3: 0.71;
  --size-icon-size4: 0.94;
  --size-icon-size5: 1.17;
  --size-icon-size6: 1.4;
  --size-icon-size7: 1.63;
  --size-icon-size8: 1.86;
  --size-icon-size9: 2.09;
  --size-icon-size10: 2.32;
  --size-icon-size11: 2.55;
  --size-icon-size12: 2.78;

  --size-logo-unit: "em";
  --size-logo-size1: 0.19;
  --size-logo-size2: 0.36;
  --size-logo-size3: 0.53;
  --size-logo-size4: 0.7;
  --size-logo-size5: 0.87;
  --size-logo-size6: 1.04;
  --size-logo-size7: 1.21;
  --size-logo-size8: 1.38;
  --size-logo-size9: 1.55;
  --size-logo-size10: 1.72;
  --size-logo-size11: 1.89;
  --size-logo-size12: 2.06;

  --size-drawer-unit: "em";
  --size-drawer-size1: 1.75;
  --size-drawer-size2: 3.35;
  --size-drawer-size3: 4.95;
  --size-drawer-size4: 6.55;
  --size-drawer-size5: 8.15;
  --size-drawer-size6: 9.75;
  --size-drawer-size7: 11.35;
  --size-drawer-size8: 12.95;
  --size-drawer-size9: 14.55;
  --size-drawer-size10: 16.15;
  --size-drawer-size11: 17.75;
  --size-drawer-size12: 19.35;

  --size-tracking-unit: "em";
  --size-tracking-size1: 0.25;
  --size-tracking-size2: 0.48;
  --size-tracking-size3: 0.71;
  --size-tracking-size4: 0.94;
  --size-tracking-size5: 1.17;
  --size-tracking-size6: 1.4;
  --size-tracking-size7: 1.63;
  --size-tracking-size8: 1.86;
  --size-tracking-size9: 2.09;
  --size-tracking-size10: 2.32;
  --size-tracking-size11: 2.55;
  --size-tracking-size12: 2.78;

  --size-counter-unit: "em";
  --size-counter-size1: 0.25;
  --size-counter-size2: 0.48;
  --size-counter-size3: 0.71;
  --size-counter-size4: 0.94;
  --size-counter-size5: 1.17;
  --size-counter-size6: 1.4;
  --size-counter-size7: 1.63;
  --size-counter-size8: 1.86;
  --size-counter-size9: 2.09;
  --size-counter-size10: 2.32;
  --size-counter-size11: 2.55;
  --size-counter-size12: 2.78;

  --size-modal-unit: "em";
  --size-modal-size1: 10;
  --size-modal-size2: 15.42;
  --size-modal-size3: 20.84;
  --size-modal-size4: 26.26;
  --size-modal-size5: 31.68;
  --size-modal-size6: 37.1;
  --size-modal-size7: 42.52;
  --size-modal-size8: 47.94;
  --size-modal-size9: 53.36;
  --size-modal-size10: 58.78;
  --size-modal-size11: 64.2;
  --size-modal-size12: 69.62;

  --size-gutter-unit: "em";
  --size-gutter-size1: 0.25;
  --size-gutter-size2: 0.48;
  --size-gutter-size3: 0.71;
  --size-gutter-size4: 0.94;
  --size-gutter-size5: 1.17;
  --size-gutter-size6: 1.4;
  --size-gutter-size7: 1.63;
  --size-gutter-size8: 1.86;
  --size-gutter-size9: 2.09;
  --size-gutter-size10: 2.32;
  --size-gutter-size11: 2.55;
  --size-gutter-size12: 2.78;

  --size-field-unit: "em";
  --size-field-size1: 3;
  --size-field-size2: 5.75;
  --size-field-size3: 8.5;
  --size-field-size4: 11.25;
  --size-field-size5: 14;
  --size-field-size6: 16.75;
  --size-field-size7: 19.5;
  --size-field-size8: 22.25;
  --size-field-size9: 25;
  --size-field-size10: 27.75;
  --size-field-size11: 30.5;
  --size-field-size12: 33.25;

  --size-container-unit: "em";
  --size-container-size1: 10;
  --size-container-size2: 17.5;
  --size-container-size3: 25;
  --size-container-size4: 32.5;
  --size-container-size5: 40;
  --size-container-size6: 47.5;
  --size-container-size7: 55;
  --size-container-size8: 62.5;
  --size-container-size9: 70;
  --size-container-size10: 77.5;
  --size-container-size11: 85;
  --size-container-size12: 92.5;

  --size-column-width-unit: "em";
  --size-column-width-size1: 7.5;
  --size-column-width-size2: 14.38;
  --size-column-width-size3: 21.26;
  --size-column-width-size4: 28.14;
  --size-column-width-size5: 35.02;
  --size-column-width-size6: 41.9;
  --size-column-width-size7: 48.78;
  --size-column-width-size8: 55.66;
  --size-column-width-size9: 62.54;
  --size-column-width-size10: 69.41;
  --size-column-width-size11: 76.29;
  --size-column-width-size12: 83.17;

  --size-column-auto-unit: "none";
  --size-column-auto-size1: 1;
  --size-column-auto-size2: 2;
  --size-column-auto-size3: 3;
  --size-column-auto-size4: 4;
  --size-column-auto-size5: 5;
  --size-column-auto-size6: 6;
  --size-column-auto-size7: 7;
  --size-column-auto-size8: 8;
  --size-column-auto-size9: 9;
  --size-column-auto-size10: 10;
  --size-column-auto-size11: 11;
  --size-column-auto-size12: 12;

  --branding-global    : 'global';
  --branding-primary   : 'primary';
  --branding-secondary : 'secondary';
  --branding-neutral   : 'neutral';
  --branding-warning   : 'warning';
  --branding-info      : 'info';
  --branding-disabled  : 'disabled';
  --branding-inactive  : 'inactive';

  --breakpoint1     : '350px';
  --breakpoint2     : '560px';
  --breakpoint3     : '850px';
  --breakpoint4     : '1000px';
  --breakpoint5     : '1100px';
  --breakpoint6     : '1250px';
  --breakpoint7     : '1400px';
  --breakpoint8     : '1750px';
  --breakpoint9     : '2000px';
  --breakpoint10    : '2200px';
  --breakpoint-main : '1000px';

}