@import '../../shared/styles/base/alpha-base';
@import '../../shared/styles/mi-mixins/alpha-mixins';
@import '../../shared/styles/theming/theming.module';

// # ========= ---  BTN STYLES --- ========== # \\

.text-btn-base {
  @include mi-theme(map-fetch($map-theme, 'btns' 'default'));
  @include mi-align(text, c);
  padding: get-size('size1') get-size('size3');
  border-style: solid;
  border-width: 1px;
  position: relative; // padding: $size-btn-v-padding $size-btn-h-padding;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
  &:hover {
    .ns-tabs & {
      border: none;
    }
  }
  .ns-standard-flex & {
    @include mi-standard-flex();
  }
}

.is-small {
  padding: get-size('size1', 'spacing') get-size('size3', 'spacing');
}

.is-medium {
  padding: get-size('size2', 'spacing') get-size('size4', 'spacing');
}

.is-large {
  padding: get-size('size3', 'spacing') get-size('size6', 'spacing');
}

.is-default {
  padding: get-size('size2', 'spacing') get-size('size5', 'spacing');
}

.text-btn-full {
  width: 100%;
}

.text-btn-standard {
  width: get-size('size4', 'btn');
  padding-top: get-size('size2');
  padding-bottom: get-size('size2');
}

.text-btn-skinny {
  padding-top: get-size('size1');
  padding-bottom: get-size('size1');
}

.text-btn-disabled {
  cursor: default;
}

.text-btn-centered {
  @include mi-position('center-block');
}

// THEMING
.text-btn-global {
  @include mi-theme(map-fetch($map-theme, 'btns' 'skins' 'global'));
}

.text-btn-global-outline {
  @include mi-theme(map-fetch($map-theme, 'btns' 'skins' 'global-outline'));
}

.text-btn-primary {
  @include mi-theme(map-fetch($map-theme, 'btns' 'skins' 'primary'));
}

.text-btn-primary-outline {
  @include mi-theme(map-fetch($map-theme, 'btns' 'skins' 'primary-outline'));
}

.text-btn-disabled {
  @include mi-theme(map-fetch($map-theme, 'btns' 'skins' 'disabled'));
}

.text-btn-warning {
  @include mi-theme(map-fetch($map-theme, 'btns' 'skins' 'warning'));
}

.text-btn-success {
  @include mi-theme(map-fetch($map-theme, 'btns' 'skins' 'success'));
}

.text-btn-simple {
  @include mi-theme(map-fetch($map-theme, 'btns' 'skins' 'simple'));
}

.text-btn-neutral {
  @include mi-theme(map-fetch($map-theme, 'btns' 'skins' 'neutral'));
}